@import '../layout.scss';
@import '../variables.scss';

.team-row{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    .team-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        .text-team{
            color: $tertiary;
            text-align: center;
            font-size: 28px;
            font-weight: 500;
            line-height: 130%; 
        }
        h1{
            color: $primary;
            text-align: center;
            font-size: 64px;
            font-weight: 700;
            line-height: 68px; 
        }
        p{
            color: rgba(26, 35, 110, 0.70);
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            line-height: 130%; 
        }
    }
    .card-team{
        display: flex;
        justify-content: center;
        margin-bottom: 120px;
        gap: 30px;
        .item-card{
            max-width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            .card-text{
                padding-top: 24px;
                color: $primary;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                line-height: 130%; 
            }
            .card-subtext{
                padding-top: 8px;
                color: rgba(26, 35, 110, 0.70);
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px; 
            }
        }
    }
}