@import '../layout.scss';
@import '../variables.scss';

.information{
    padding-top: 80px;
    min-height: 970px;
    .information-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        .information-col{
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 80px;
            .img-three{
                transition: all .5s ease-in-out;
            }
            .img-three:hover{
                transform: translateX(20px);
            }
            .img-two{
                transition: all .5s ease-in-out;
            }
            .img-two:hover {
                transform: translateY(20px);
            }
        }
        div{
            img{
              transition: all .5s ease-in-out;
              cursor: pointer;
            }
            img:hover{
                transform: translateX(-20px);
              }
        }
    }
}