@import 'https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header-row .logo {
  display: flex;
}
.header-row .logo .logo-title {
  color: #1A236E;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
.header-row .nav {
  display: flex;
  gap: 24px;
}
.header-row .nav .nav-item {
  color: rgba(26, 35, 110, 0.7);
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.header-row .nav .nav-item:hover {
  color: #1A236E;
  text-decoration: underline;
}
.header-row .contact-header .contact-header-title {
  color: rgba(26, 35, 110, 0.7);
  text-align: right;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}
.header-row .contact-header .contact-header-number {
  color: #1A236E;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.header-row .header-btn {
  display: flex;
}
.header-row .header-btn .header-botton {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-row .header-btn .header-botton .header-btn-text {
  color: #1A236E;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.header-row .header-btn .header-botton:hover {
  box-shadow: 0px 4px 10px 0px rgba(109, 108, 108, 0.64), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.intro .rel-img {
  position: relative;
}
.intro .rel-img .bg-intro {
  position: absolute;
  z-index: -1;
  left: 0px;
  width: 1903px;
  height: 858px;
}
.intro .intro-row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding-top: 223.5px;
}
.intro .intro-row .intro-title {
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
}
.intro .intro-row .intro-subtitle {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
.intro .intro-row .intro-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
}
.intro .intro-row .intro-btn .botton-intro-yellow {
  display: flex;
  background: #FCDF00;
  padding: 20px 32px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.intro .intro-row .intro-btn .botton-intro-yellow .botton-intro-text {
  color: #1A236E;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.intro .intro-row .intro-btn .botton-intro-yellow:hover {
  box-shadow: 0px 4px 16px 0px rgba(255, 255, 31, 0.64), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}
.intro .intro-row .intro-btn .botton-intro-white {
  display: flex;
  background: #fff;
  padding: 20px 32px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.intro .intro-row .intro-btn .botton-intro-white .botton-intro-text {
  color: #1A236E;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.intro .intro-row .intro-btn .botton-intro-white:hover {
  box-shadow: 0px 4px 20px 0px rgba(97, 93, 93, 0.64), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}
.intro .intro-row .bottom-p {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.intro .intro-row .bottom-p .bottom-text {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  max-width: 466px;
}
.intro .intro-row .down-icon {
  display: flex;
  justify-content: center;
  margin-top: 127px;
  margin-bottom: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.trust {
  padding-top: 120px;
}
.trust .trust-row {
  padding-bottom: 120px;
}
.trust .trust-row .trust-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.trust .trust-row .trust-title h1 {
  color: #1A236E;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
}
.trust .trust-row .trust-title p {
  color: rgba(26, 35, 110, 0.7);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  max-width: 720px;
  margin: 0 auto;
}
.trust .trust-row .cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 64px;
}
.trust .trust-row .cards .trust-card {
  display: flex;
  flex-direction: column;
  max-width: 255px;
}
.trust .trust-row .cards .trust-card .percent {
  display: flex;
  padding-left: 87.5px;
  padding-right: 87.5px;
}
.trust .trust-row .cards .trust-card .percent .percent-circle {
  padding: 16px 16px;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.1);
}
.trust .trust-row .cards .trust-card .trust-card-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}
.trust .trust-row .cards .trust-card .trust-card-title .trust-card-text {
  color: #1A236E;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}
.trust .trust-row .cards .trust-card .trust-card-title .trust-card-subtext {
  color: rgba(26, 35, 110, 0.4);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.trust .trust-row .cards .trust-card .trust-card-title .trust-card-text-two {
  color: #1A236E;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.reviews {
  margin-top: 100px;
}
.reviews .reviews-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.reviews .reviews-row .left-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .reviews-row .left-btn .left-botton {
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 40px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
}
.reviews .reviews-row .user {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.reviews .reviews-row .user .user-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews .reviews-row .user .comments {
  display: flex;
}
.reviews .reviews-row .user .comments .comments-title {
  color: #1A236E;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.reviews .reviews-row .user .name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.reviews .reviews-row .user .name h3 {
  color: #1A236E;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.reviews .reviews-row .user .name p {
  color: rgba(26, 35, 110, 0.4);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}
.reviews .reviews-row .user .carusel-btn {
  display: flex;
  padding-top: 64px;
  justify-content: center;
}
.reviews .reviews-row .right-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .reviews-row .right-btn .right-botton {
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 40px;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.order {
  background: linear-gradient(0deg, rgba(26, 35, 110, 0.5) 0%, rgba(26, 35, 110, 0.5) 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
}

.order-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.order-row .order-top {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 100px;
}
.order-row .order-top h1 {
  color: var(--Text-Dark-Title, #FFF);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}
.order-row .order-top p {
  color: var(--Text-Dark-Body, rgba(255, 255, 255, 0.8));
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.order-row .order-bottom {
  margin-bottom: 100px;
}
.order-row .order-bottom .input-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.order-row .order-bottom .input-btn .form-tel input {
  max-width: 260px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 20px 20px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  outline: none;
}
.order-row .order-bottom .input-btn .order-btn {
  display: flex;
}
.order-row .order-bottom .input-btn .order-btn .order-botton {
  border-radius: 8px;
  background: #FCDF00;
  height: 56px;
  padding: 16px 20px;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.order-row .order-bottom .input-btn .order-btn .order-botton p {
  color: #1A236E;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.order-row .order-bottom .input-btn .order-btn .order-botton:hover {
  box-shadow: 0px 4px 16px 0px rgba(255, 255, 31, 0.64), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}
.order-row .order-bottom .order-comments {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.order-row .order-bottom .order-comments p {
  text-align: center;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}
.order-row .order-bottom .order-comments p span {
  color: var(--Text-Dark-Label, rgba(255, 255, 255, 0.7));
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.team-row {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}
.team-row .team-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.team-row .team-title .text-team {
  color: #FCDF00;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}
.team-row .team-title h1 {
  color: #1A236E;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
}
.team-row .team-title p {
  color: rgba(26, 35, 110, 0.7);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
.team-row .card-team {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 30px;
}
.team-row .card-team .item-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.team-row .card-team .item-card .card-text {
  padding-top: 24px;
  color: #1A236E;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
.team-row .card-team .item-card .card-subtext {
  padding-top: 8px;
  color: rgba(26, 35, 110, 0.7);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.services {
  background: #1A236E;
  height: 800px;
}
.services .services-row {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
}
.services .services-row .service-packages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.services .services-row .service-packages .service-packages-title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}
.services .services-row .service-packages .service-packages-subtitle {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}
.services .services-row .services-card {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.services .services-row .services-card .services-diagnostics-card {
  background: #fff;
  border-radius: 16px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 360px;
}
.services .services-row .services-card .services-diagnostics-card .rub {
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 24px;
}
.services .services-row .services-card .services-diagnostics-card .rub p {
  color: #1A236E;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}
.services .services-row .services-card .services-diagnostics-card .services-team {
  display: flex;
  flex-direction: column;
}
.services .services-row .services-card .services-diagnostics-card .services-team .services-diagnostics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.services .services-row .services-card .services-diagnostics-card .services-team .services-diagnostics h1 {
  color: #1A236E;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.services .services-row .services-card .services-diagnostics-card .services-team .services-diagnostics p {
  color: rgba(26, 35, 110, 0.7);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  min-height: 140px;
}
.services .services-row .services-card .services-diagnostics-card .services-team .btn-calculate {
  display: flex;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 92px;
  padding-bottom: 32px;
}
.services .services-row .services-card .services-diagnostics-card .services-team .btn-calculate .btn-calculate-yellow {
  padding: 12px 115px;
  border-radius: 6px;
  background: #FCDF00;
  cursor: pointer;
}
.services .services-row .services-card .services-diagnostics-card .services-team .btn-calculate .btn-calculate-yellow p {
  color: #1A236E;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.marketing {
  margin-top: 120px;
}
.marketing .marketing-title {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}
.marketing .marketing-title p {
  color: #1A236E;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
}
.marketing .partners {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.contactus {
  padding-top: 100px;
  height: 440px;
  background: rgba(26, 35, 110, 0.5);
}
.contactus .contactus-row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contactus .contactus-row .contactus-top-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.contactus .contactus-row .contactus-top-title h1 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}
.contactus .contactus-row .contactus-top-title p {
  color: var(--Text-Dark-Body, rgba(255, 255, 255, 0.8));
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.contactus .contactus-row .input-contactus {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.contactus .contactus-row .input-contactus .form-name input {
  max-width: 260px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  outline: none;
  color: var(--black-20, rgba(95, 91, 91, 0.7));
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.contactus .contactus-row .input-contactus .form-tell input {
  max-width: 260px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  outline: none;
  color: var(--black-20, rgba(95, 91, 91, 0.7));
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.contactus .contactus-row .input-contactus .form-email input {
  max-width: 260px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  outline: none;
  color: var(--black-20, rgba(95, 91, 91, 0.7));
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.contactus .contactus-row .input-contactus .form-submit input {
  display: flex;
  max-width: 207px;
  box-sizing: border-box;
  background: #FF3A23;
  border: 1px solid #FF3A23;
  padding: 15px 32px;
  height: 56px;
  border-radius: 6px;
  align-items: center;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.contactus .contactus-row .input-contactus .form-submit input:hover {
  box-shadow: 0px 0px 10px rgb(255, 7, 7);
}
.contactus .contactus-row .contactus-request {
  display: flex;
  justify-content: center;
}
.contactus .contactus-row .contactus-request p {
  color: var(--Text-Dark-Label, rgba(255, 255, 255, 0.7));
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}
.contactus .contactus-row .contactus-request p span {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.information {
  padding-top: 80px;
  min-height: 970px;
}
.information .information-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.information .information-row .information-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Assistant", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-row .contact-header {
  display: flex;
  flex-direction: column;
}

.repair {
  padding-top: 100px;
  background: rgba(26, 35, 110, 0.5);
}
.repair .repair-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.repair .repair-row .repair-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.repair .repair-row .repair-top h1 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
}
.repair .repair-row .repair-top p {
  color: var(--Text-Dark-Body, rgba(255, 255, 255, 0.8));
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.repair .repair-row .repair-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.repair .repair-row .repair-content .form-name input {
  min-width: 540px;
  min-height: 56px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  outline: none;
}
.repair .repair-row .repair-content .form-name ::-webkit-input-placeholder {
  color: var(--black-20, rgba(0, 0, 0, 0.5));
}
.repair .repair-row .repair-content .form-name ::-webkit-input-placeholder:focus {
  color: var(--black-20, rgba(0, 0, 0, 0.5));
  font-weight: 700;
  font-size: 18px;
}
.repair .repair-row .repair-content .form-tel input {
  min-width: 540px;
  min-height: 56px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  outline: none;
}
.repair .repair-row .repair-content .form-email input {
  min-width: 540px;
  min-height: 56px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid var(--Elements-Light-Border, rgba(0, 0, 0, 0.1));
  outline: none;
}
.repair .repair-row .repair-content .repair-conected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.repair .repair-row .repair-content .repair-conected .repair-intext {
  margin-top: 16px;
}
.repair .repair-row .repair-content .repair-conected .repair-intext p {
  color: #fff;
  text-align: start;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.repair .repair-row .repair-content .repair-conected .radio-int {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 40px;
}
.repair .repair-row .repair-content .repair-conected .radio-int div {
  display: flex;
  gap: 16px;
}
.repair .repair-row .repair-content .repair-conected .radio-int div label {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.repair .repair-row .repair-content .repair-conected .radio-int div input {
  width: 24px;
  height: 24px;
  background-color: #FCDF00;
}
.repair .repair-row .repair-content .repair-conected .repair-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.repair .repair-row .repair-content .repair-conected .repair-bottom .repair-btn {
  display: flex;
  max-width: 540px;
  height: 56px;
  padding: 16px 203px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 6px;
  background: #FCDF00;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.repair .repair-row .repair-content .repair-conected .repair-bottom .repair-btn:hover {
  box-shadow: 0px 4px 14px 0px rgba(255, 255, 31, 0.64), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}
.repair .repair-row .repair-content .repair-conected .repair-bottom p {
  color: #1A236E;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.repair .repair-row .repair-content .repair-conected .repair-bottom-text {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 100px;
}
.repair .repair-row .repair-content .repair-conected .repair-bottom-text p {
  color: var(--Text-Dark-Label, rgba(255, 255, 255, 0.7));
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  max-width: 540px;
}
.repair .repair-row .repair-content .repair-conected .repair-bottom-text p span {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

/*# sourceMappingURL=style.css.map */
